/* General reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}


main{
  display:flex;
  justify-content: start;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #bacada;
}

/* Header */
.App-header {
  background: #3f5a80;
  display: flex;
  justify-content: center;

}

.logo{
  margin-top: 10px; 
  width: 70vw;
  height: 200px;
  background-image: url("../public/images/blackLogo.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}

#logobox{
  width: 100vw;
  height: 200px;
  background-image: url("../public/images/Color\ logo\ -\ no\ background.png");
  background-color: #393a3a;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #555;
  padding: 10px;
}

.nav a {
  color: rgb(225, 228, 220);
  font-weight: bold;
  transition: color 0.3s;
  text-shadow: 1px 1px 1px rgb(45, 54, 54);
}

.nav button {
  color: rgb(225, 228, 220);

  transition: color 0.3s;
  text-shadow: 1px 1px 1px rgb(45, 54, 54);
  background-color: #555;
}

.nav a:hover {
  color: #ff9900;
}


.bios-container, .backdrop {

  position: absolute;
  background-color:#000000;
  z-index: 3;
  height: auto;
  width: 50%;
}



.backdrop {
  transition: opacity 0.3s ease-in-out;
}



.bios-container a{
  color:#f77fe3;
}

.bios-container h2{
  color:#abb2b8;
  font: normal italic normal 2em/1em Helvetica;
  margin-bottom: 6px;
}

.bios-container p{
  color:#dddcd4;
  font: normal normal normal 1.6em/1.2em Georgia;
  margin: 20px;
}

.biopic{
  height: 400px;
  width: 400px;
}

.melissapic{
  background-image: url("../public/images/melissapic.avif");
  background-size: contain; 
  background-repeat: no-repeat;
}

.meganpic{
  background-image: url("../public/images/meganpic.avif");
  background-size: contain; 
  background-repeat: no-repeat;
}


/* Main sections */

.section-1 {
  text-align: center;
  background: #e9ecef;
}

.section-1 h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.meetwithus {
  margin: 10px;
}

.meetwithus a {
  display: inline-block;
  color:#31312f;
  background-color: #b4b4b46e;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s;
}


.meetwithus a:hover {
  background: #a0a2a3da;
}

.section-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top:50px;
}

.section-2 li {

  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fae7e7;;
}

.section-2 h2{
  font: bold italic normal 2em/1em Pacifico;
  margin: 20px;
}

.section-2 p{
  font: normal normal normal 1.5em/1em Verdana;
  margin: 15px;
  
}

.section-3 {
  padding: 40px 0px;
  background: #234b63;
  text-align: center;
}

.section-3 h1 {
  color: rgb(236, 228, 228);
  font: normal normal normal 2.5em/1em Georgia;
}

.section-3 h2.yellow {
  color: #ffa500;
  margin-top: 60px;
  font: normal normal normal 2.5em/1em Georgia;
}

.section-3 ul {

  margin-top: 30px;
  padding:30px;
  background-color: #bbbbba;
}

.section-3 li {
  color: rgb(26, 65, 102);
  height: 50px;
  font: normal normal normal 1.1em/1.5em Cambria;
}

.section-3 h1{
  position: absolute;
  left:50%;
}

.section-4 {
  text-align: center;
  padding: 40px 20px;
  background: #576679;
}

.section-4 h1{
  font: normal Bold normal 3em/1.5em Georgia;
  color:#f5edd9;
  text-shadow: 1px 1px 1px black;
}

.section-4 h2{
  font: normal Bold normal 1.5em/1.5em Verdana;
  color:#e69c14;
}

.section-5 {

  display: flex;
  flex-wrap: wrap;
  background: #bea4a4;
  height: 460px;

}

.section-5 h1{
  font: normal Bold normal 5em/1.5em Georgia;
  margin-bottom: 5px;
  text-shadow: 2px 2px 5px rgb(163, 161, 161);
}

.section-5 h3{
  font: normal bold normal 1.5em/1em Georgia;
  color: rgb(48, 36, 36);
  height:40px;
}


.mountainousbackground-left {
 width: 50%;
 position:relative;
 height: 430px;
 z-index: 2;
}

.mountainousbackground-right {
  padding-top: 150px;
  width: 50%;
  height: 460px;
  z-index: 2;
  }

.mountainWords{
  margin: 0 auto;
  position:absolute;
  text-align: center;
  height: 460px;
  width: 100%;
  background-image: url("../public/images/RedRocks.jpg");
  background-repeat: no-repeat;
  background-size: 600px 450px ;
  background-position: center;
}

.section-6 {
  text-align: center;
  padding: 40px 20px;
  background: #ecc740;
  color: white;
}
.section-6 h1{
  font: normal Bold normal 3em/1.5em Georgia;

}

.section-6 li{
  font: normal Bold normal 1.3em/1.5em Verdana;
  color: rgb(49, 41, 24);
  
}

.help-button{
  font: normal Bold normal 1.2em/1.5em Verdana;
  text-shadow: 2px 2px 4px black;
}

.section-7 {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
  background: #e2941f;
  text-align: center;
}

.section-7 h3{
  font: normal Bold normal 2em/1.5em Cambria;
}

.section-7 li{
  font: normal normal normal 1.2em/1.5em Georgia;
}

.sec{
  width:25%;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: black;
  border-radius: 1px;
}

.section-8 {
  text-align: center;
  padding: 40px 20px;
  background: #000000;
}

.section-8 h2{
  font: normal normal normal 1.5em/1.5em Georgia;
  color:rgb(201, 191, 191);
}

.section-9 {
  padding: 40px 20px;
  background: #f8f9fa;
}

.section-10 {

  height: 200px;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  background: #222;
  color: rgb(156, 156, 156);
}

.section-10 li{
  font: normal normal normal 1.2em/1.5em Georgia;
  height: 30px;
  width: 40%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 6px;
  background-color:#ffa2a2;
  text-align: center;
  color: rgb(0, 0, 0);
}

.section-10 h4,
.section-10 p
{
  text-align: center;
  width: 100%;
}

.section-10 li a{
 color:#000000;
}

.infobox {
  flex: 1 1 60%;
}

.logobox {
  flex: 1 1 30%;
}

footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

.video-div{
  display: flex;
  justify-content: center;
  flex-direction:column; 
  height: 500px;
  width: 100vw;
  top: 50px;
  overflow: hidden;
  position: relative;
  
}

.video-div h1, .meetwithus{
  z-index: 2;
  position:relative;
}

video{
  position:absolute;
  width:100vw;
  height: auto;
  display: block;
  z-index: 0;
}


/* Media queries */
@media (max-width: 768px) {


  .nav a{
     font: normal normal normal 1.1em/1em Verdana;
  }

  .logo{

  }
  .meetwithus{
    height: 80px;
    font: normal normal normal 2em/1em Helvetica;
    text-shadow: 1px 1px 1px black;
  }

  .meetwithus a{
    color:#4c4e1c;
    background-color: #b4b4b46e;
  }

  .bios-container, .backdrop {

    width: 100%;
  }

  .section-2 li{
    height: 200px;
    width: 100%;
    font: normal normal normal 0.8em/1em Helvetica;
    text-align: center;
  }

  

  .section-3 li{
    height: 70px;
    width: 100%;
    font: normal normal normal 1em/1.3em Helvetica;
    text-align: center;
    color:#000000;
    text-shadow: 1px 2px 2px rgb(184, 160, 115);
  }

  .section-3 h1{
    font: normal normal normal 1.8em/1.5em Georgia;
    left:auto;
    position:relative;
  
  }
  .yellow{
    font: normal normal normal 1.8em/1.5em Georgia !important;
  }

  .mountainousbackground {
    flex: 1 1 100%;
  }

  .section-7{
    height: 840px;
    padding: 0;
  }

  .section-7 h3{
    font: normal bold normal 1.5em/1.5em Georgia;
  }
  .section-10 {
    flex-direction: column;
    padding: 0px;
  }

  .section-10 li {
    height: 50px;
    width: 100vw;
    border-radius: 0px;
    font: normal bold normal 1.5em/1.5em Garamond;
  }
 
  .video-div h1{
    font: normal bold normal 1.6em/1.5em Helvetica;
  }

  .video-div{

    width: 100vw;
    height: 300px;
    top: 50px;
    display: block;
  }

  video{
    width: 670px;
  }

 

  .sec{
    width:100%;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: black;
    border-radius: 1px;
  }

}


